@tailwind base;
@tailwind components;
@tailwind utilities;

.truncate-words {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Adjust the number of lines as needed */
  -webkit-box-orient: vertical;
}

@layer components {
  .btn-primary {
    @apply text-white bg-dark-teal hover:bg-teal focus:ring-4 focus:outline-none focus:ring-mint font-medium rounded-lg text-sm px-4 py-2 text-center mr-3 md:mr-0 dark:text-navy dark:bg-mint dark:hover:bg-dark-mint dark:focus:ring-mint;
  }
}
